<footer>
    <div class="ui vertical footer segment">
        <div class="ui container">
            <div class="ui stackable divided equal height stackable grid">
                <div class="four wide column">
                    <h4>Contact Me</h4>
                    <div class="ui link list">
                        <a href="https://github.com/eviehoward" target="_blank" class="item"
                            ><i class="github icon"></i> Github - eviehoward</a
                        >
                        <a href="https://www.linkedin.com/in/eviehoward/" target="_blank" class="item"
                            ><i class="linkedin icon"></i> LinkedIn - eviehoward</a
                        >
                        <a href="mailto:evie.howard2305@gmail.com" class="item"
                            ><i class="envelope icon"></i> evie.howard2305@gmail.com</a
                        >
                    </div>
                </div>
                <div class="seven wide column">
                    <h4>This Website</h4>
                    <p>
                        This website was designed using
                        <a href="https://fomantic-ui.com/" target="_blank">Fomantic-UI.</a>
                    </p>
                    <p>
                        It uses Barriecito and Quicksand from
                        <a href="https://fonts.google.com/" target="_blank">Google Fonts.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
