<nav class="ui fixed borderless menu">
  <div class="item">
    <img src="../legologo.jpg" />
  </div>

  <header class="ui header item">
    <a href="/start"> Lego Collection </a>
  </header>

  <div class="item">
    <a id="dashboard" href="/dashboard"> Dashboard </a>
  </div>
  <div class="item">
    <a id="about" href="/about"> About </a>
  </div>
  <div class="item">
    <a id="stats" class="item" href="/stats"> Statistics  </a>
  </div>
  <div class="right item">
    <span class="name">{{properCase fullname}}</span>
    <span class="profilepic"><img src="{{picture.url}}" class="ui avatar image"></span>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>
<div class="ui hidden divider"></div>

<script>
  document.querySelector("#{{id}}").classList.add("active");
</script>
