<nav class="ui fixed borderless menu">
  <div class="item">
    <img src="../legologo.jpg" />
  </div>

  <header class="ui header item">
    <a href="/"> Lego Collection </a>
  </header>

  <div class="item">
    <a id="dashboard" href="/dashboard"> Dashboard </a>
  </div>
  <div class="item">
    <a id="about" href="/about"> About </a>
  </div>
  <div class="item">
    <a id="stats" class="item" href="/stats"> Statistics  </a>
  </div>
</nav>
<div class="ui hidden divider"></div>

<script>
  document.querySelector("#{{id}}").classList.add("active");
</script>
