<nav class="ui fixed borderless menu">
  <div class="item">
    <img src="../legologo.jpg" />
  </div>
  <header class="ui header item"> <a href="/"> Lego Collection </a></header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"> Signup  </a>
    <a id="login" class="item" href="/login">  Login   </a>
  </div>
</nav>

<div class="ui hidden divider"></div>

<script>
   document.querySelector("#{{id}}").classList.add("active");
</script>




