{{> menu}}
<hr />

{{#with thisLegoCollection}}

<section class="ui center aligned middle aligned segment collections">
  <h2>{{properCase title}}</h2>
  <p>This collection is worth &euro;{{../thisLegoCollectionValue}}.</p>
  {{> listSets}}
</section>

<section class="ui center aligned middle aligned segment">

    {{> addSet}}

</section>
{{/with}}
<div class="break"></div>
