<hr />

{{#with thisLegoCollection}}

<section class="ui center aligned middle aligned segment collections">
  <h2>{{title}}</h2>
  {{> listSets}}
</section>

<section class="ui center aligned middle aligned segment">

    {{> addSet}}

</section>
{{/with}}
<div class="break"></div>
