{{> welcomemenu id="signup"}}
<hr />

<form class="ui stacked segment form" action="/register" method="POST" enctype="multipart/form-data">
  <h3 class="ui header">Register</h3>
  <div class="two fields">
    <div class="field">
      <label for="firstName">First Name</label>
      <input placeholder="First Name" type="text" name="firstName" autofocus required />
    </div>
    <div class="field">
      <label for="lastName">Last Name</label>
      <input placeholder="Last Name" type="text" name="lastName" required />
    </div>
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input
      placeholder="Email"
      type="text"
      name="email"
      pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
      title="Please enter a valid email address" 
      required /> <!--Regex from W3schools -->
  </div>
  <div class="field">
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
      title="Password must be at least 6 characters, with at least one number, one uppercase letter and one lowercase letter" 
      required /> <!--Regex from W3schools, edited -->
  </div>
  <div class="field">
    <label>Image</label>
    <input placeholder="Image" type="file" name="picture" required />
  </div>
  <button class="ui blue submit button">Submit</button>
</form>
