{{> menu}}
<hr />

<section class="ui center aligned middle aligned segment">
  <h2>Lego Collection Management App</h2>

  <p>
    This is an app for managing your Lego collection. It records all the important info about your sets. Your sets can
    be organised into different collections.
  </p>
  <p>There is also a wishlist collection.</p>
  <img src="/bennyspace.jpg" class="ui centered image" />
</section>

<div class="break"></div>
