{{> menu}}
<hr />

<section class="ui center aligned middle aligned segment">
  <h2>Lego Collection Management App</h2>

  <p>
    This is an app for managing your Lego collection. It records all the important info about your sets. Your sets can
    be organised into different collections.
  </p>
  <p>Stats about your lego collection can be found on the Statistics page.</p>
  <img src="/bennyspace.jpg" class="ui centered image" />
</section>

<section class="ui center aligned middle aligned segment">
  <h3>App Stats!</h3>
  {{#with stats}}
  <div class="ui centered three statistics">
    <div class="ui red statistic">
      <div class="value">
        <i class="folder icon"></i>
      </div>
      <div class="label">{{displayNumCollections}} collections</div>
    </div>

    <div class="ui orange statistic">
      <div class="value">
        <i class="gifts icon"></i>
      </div>
      <div class="label">{{displayNumSets}} sets</div>
    </div>

    <div class="ui yellow statistic">
      <div class="value">
        <i class="users icon"></i>
      </div>
      <div class="label">{{displayTotalUsers}} users</div>
    </div>
  </div>
  {{/with}}
</section>

<div class="break"></div>
